@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.woff2') format('woff2'),
         url('fonts/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


img {
    width: 100%;
}

body{
    margin:0;
    padding:0;
}

.body__content{
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    min-height: 3rem;
    background: #6a6a6a;
    justify-content: flex-end;
}

.main__cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    row-gap: 2rem;
    column-gap: 2rem;
    max-width: 65%
}

.img__cont{
    border: 1px solid black;
    width: 45%;
}

.button__contener{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
}

.btn{
    background: #dadada;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    color: #000000; /* Цвет текста ссылки */
    font-size: 16px; /* Размер шрифта */
}

a {
    text-decoration: none;

}